footer {
  background-color: #ff8d21;
  color: #002366;
}

footer a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  color: white;
}

.contacts img {
  width: 16px;
  margin-right: 5px;
}

.socials img {
  width: 24px;
  margin-right: 10px;
}

.github:hover {color: #181717}
.facebook:hover {color: #3b5998}
.twitter:hover {color: #000000}
.telegram:hover {color: #0088CC}