.navbar {
  background-color: #ff8d21;
}

.navbar-title {
  font-size: 18px;
}

.nav-link,
.burger {
  color: #002366;
}

.nav-link:hover {
  color: #ffffff;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  box-shadow: none;
}